.App {
  font-family: sans-serif;
  text-align: center;
}
.outer {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 12px;
  margin: 10px;
}
.inner {
  background-color: green;
  text-align: right;
  transition: 0.5s ease-in;
}
